.sideBorders {
    border-left: 1px solid #e0e0e0;
    /* un gris claro estándar */
    border-right: 1px solid #e0e0e0;
    border-radius: 0;
    /* Si queremos quitar el radius para que se vea más como separador, podemos dejarlo opcional o según diseño */
}

.bottomBorder {
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
}