/* ======== BACKGROUND & OVERLAY ======== */
.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.backgroundWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Envía el fondo atrás */
}

.backgroundWrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.6) 0%, transparent 60%);
    z-index: 1;
    /* El gradiente va encima de la foto, pero dentro del wrapper */
}

.image-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentOverlay {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* El contenido va adelante del wrapper de fondo */
}