@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300..900&family=Instrument+Sans:wght@400..700&display=swap');

.title {
    font-family: 'Fraunces', serif;
    margin: 0;
}

.body {
    font-family: 'Instrument Sans', sans-serif;
    margin: 0;
}