.calendarWidget {
    width: 75px;
    height: 95px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.monthHeader {
    background-color: #121212;
    padding: 0.3rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthText {
    color: white !important;
    font-size: 0.85rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
}

.dayBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #121212;
    padding-bottom: 0.3rem;
}

.dayNumber {
    font-size: 1.8rem !important;
    font-weight: 700 !important;
    line-height: 1 !important;
}

.dayName {
    font-size: 0.9rem !important;
    color: #888 !important;
    font-weight: 500 !important;
    text-transform: capitalize;
}